<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <section class="day-time"> 
    <div class="date">
      <span id="day-name">Gün</span>
      <span id="month">Ay</span>
      <span id="day-number">00</span>
      <span id="year">İl</span>
    </div>
    <div class="timer">
      <span id="hour">00:</span>
      <span id="min">00:</span>
      <span id="sec">00-</span>
      <span id="period">AM</span>
    </div>
  </section>

  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="../assets/img/img.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn card-link">Card link</a>
        <a href="#" class="btn card-link">Another link</a>
      </div>
    </div>
  </div>
</body>
</html>